
.notFoundContainer {
  margin-top: 5rem;
  font-family: Arial, sans-serif;
}
  
.notFoundHeader, .notFoundText {
  font-size: 2rem;
  color: #ff4000; 
  margin-left: 2rem;
}
  
.notFoundText {
  font-size: 1.5rem;
  font-weight: bold;
}