.ListItem {
  padding: 1.2rem;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center; 
  gap: 10px; 
}

.button_group {
  display: flex;
  align-items: center;
  gap: 7px;
}

li {
  font-size: 1.2rem;
}
/*
.button {
  background-color: #6B8E23;
  font-weight: bold;
  padding: 10px;
  border: none;
  border-radius: 5px;
  }
  
.button:hover {
  background-color: #ff4000;
  }
  */